# Xcode and system files
.DS_Store
Products
*.pbxuser
*.perspectivev3

# Unity junk files
Xcode/
Temp/*
Library
build
obj/


Assembly-CSharp-*
*.suo
*.sln
*.userprefs
Assembly-CSharp.csproj
*.pidb
*.keychain

*.unityproj

*.unityproj

*.unityproj

*.unityproj

*.unityproj

Assembly-UnityScript-Editor-vs.unityproj

Assembly-UnityScript-Editor-vs.unityproj

Assembly-UnityScript-Editor-vs.unityproj

Assembly-UnityScript-Editor.unityproj

Assembly-UnityScript.unityproj

Assembly-UnityScript-vs.unityproj

Assembly-UnityScript-firstpass.unityproj

Assembly-UnityScript-firstpass-vs.unityproj

Assembly-UnityScript-Editor.unityproj

Assembly-UnityScript-Editor-vs.unityproj

obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt

obj/Debug/Assembly-CSharp.dll

obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt

obj/Debug/Assembly-CSharp.dll.mdb
